.badges_wrapper {
    width: 200px;

    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    position: absolute;
    top: 5px;
    left: 5px;
}

.badge {
    padding: 5px;
    background-color: #df565a;
    color: white;
}