.switch {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    width: 70px;

    color: #777;

}

.switch button {

    background-color: #777;
    border-radius: 50%;

    color: #444444;
    font-size: 24px;

    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all .2s ease-in-out;
    border: none;

}

.switch button:hover {
    opacity: 0.8;
}

.switch button:active {
    opacity: 0.6;
}

@media screen and (max-width: 750px) {

    .switch {
        width: 55px;
        font-size: 15px;
    }

    .switch button {
        font-size: 20px;
        width: 30px;
        height: 30px;
    }

}