.container {

    max-width: 1200px;
    min-height: 91vh;

    margin: 0 auto;
    padding: 0 8px;

    position: relative;

    background-color: white;

}

.navbar {

    padding: 20px;
    margin-bottom: 25px;

    background-color: white;
    border-bottom: 2px solid silver;

}

.navbar button {

    background-color: #313131;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;

    transition: all .2s linear;
    box-sizing: border-box;

    padding: 0 10px;
    height: 35px;

}

.navbar button:hover {
    opacity: 0.8;
}

.navbar button:active {
    opacity: 0.6;
}

.search input {

    width: 600px;
    height: 35px;

    border: 1px solid #313131;
    border-right: none;

    padding-left: 15px;

}

.search input:focus {
    outline: none;
}

.search button {

    width: 75px;
    height: 35px;

    border: none;
    background-color: #313131;
    color: snow;

    cursor: pointer;
    transition: all .2s ease-in-out;

}

.search button:hover {
    opacity: 0.8;
}


.navbar_inner {

    display: flex;
    justify-content: space-between;

    width: 100%;

}

.genres {

    margin-top: 20px;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    background-color: #efefef;
    border: 1px solid #222;
    z-index: 100;

}

.genres button {

    height: 35px;
    padding: 0 12px;

    border: none;
    border-radius: 10px;
    color: white;

    cursor: pointer;
    background-color: #777;
    transition: all .2s linear;

}

.genres button:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.loading {
    height: 91vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.error {

    width: 100%;
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 28px;

}

h2 {

    width: 400px;

    margin: 0 auto 25px;
    padding-bottom: 10px;

    border-bottom: 2px solid gray;

    text-align: center;

}

.no_matches {

    display: flex;
    justify-content: center;

    color: #777777;
    font-weight: bold;
    font-size: 25px;

}

.cards_wrapper {

    max-width: 1100px;
    min-height: 90vh;

    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}


.pagination {

    padding: 60px 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #777;

}

.pagination button {

    height: 30px;
    width: 30px;

    background-color: #313131;
    border-radius: 4px;
    border: none;
    color: #777;

    cursor: pointer;

    transition: all .2s linear;
}

.pagination button:hover {

    background-color: transparent;
    border: 2px solid #313131;

}

.pagination button:disabled {

    opacity: 0.3;
    background-color: #313131;
    color: #777;

}

.pagination button:nth-child(2), .pagination button:nth-child(4) {

    width: 40px;
    height: 40px;

    font-size: 22px;

}

.page_number {

    font-weight: bold;
    font-size: 24px;
    color: #777;

    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    background-color: #313131;

}


@media screen and (max-width: 1280px){
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 1150px) {

    .cards_wrapper {
        max-width: 815px;
    }

}

@media screen and (max-width: 950px) {

    .search input {
        width: 400px;
    }

}

@media screen and (max-width: 890px) {
    .cards_wrapper {
        max-width: 530px;
    }
}

@media screen and (max-width: 750px) {
    .search input {
        width: 250px;
    }
}

@media screen and (max-width: 630px) {
    .cards_wrapper {
        max-width: 245px;
        gap: 20px;
    }
}

@media screen and (max-width: 530px) {
    .navbar_inner {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .navbar_inner button {
        width: 60%;
        margin: 0 auto;
    }

    .search input {
        width: 80%;
    }

    .search button {
        width: 20%;
    }

}