.navbar {

    padding: 20px;

    background-color: white;
    border-bottom: 2px solid silver;

}

.navbar button {

    background-color: #313131;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;

    transition: all .2s linear;
    box-sizing: border-box;

    padding: 0 10px;
    height: 35px;

}

.navbar button:hover {
    opacity: 0.8;
}

.navbar button:active {
    opacity: 0.6;
}

.search input {

    width: 600px;
    height: 35px;

    border: 1px solid #313131;
    border-right: none;

    padding-left: 15px;

}

.search input:focus {
    outline: none;
}

.search button {

    width: 75px;
    height: 35px;

    border: none;
    background-color: #313131;
    color: snow;

    cursor: pointer;
    transition: all .2s ease-in-out;

}

.search button:hover {
    opacity: 0.8;
}


.navbar_inner {

    display: flex;
    justify-content: space-between;

    width: 100%;

}

.genres {

    margin-top: 20px;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    background-color: #efefef;
    border: 1px solid #222;
    z-index: 100;

}

.genres button {

    height: 35px;
    padding: 0 12px;

    border: none;
    border-radius: 10px;
    color: white;

    cursor: pointer;
    background-color: #777;
    transition: all .2s linear;

}

.genres button:hover {
    opacity: 0.7;
    text-decoration: underline;
}