body {
    background-color: #efefef;
}

* {
    box-sizing: border-box;
}

#dark .card {
    background-color: #222;
    box-shadow: 1px 4px 12px 2px black;
}


#dark .header{
    background-color: #060f13;
}

#dark .main {
    background-color: #222;
}

#dark .main h2 {
    color: gray
}

#dark .navbar {
    background-color: #222;
    border-bottom: 2px solid black;
}

#dark .navbar button {
    color: #777;
}

#dark .navbar button:hover {
    background-color: #222;
}

#dark .navbar input {
    background-color: #222;
    color: #777;
}

#dark .genres {
    background-color: #191717;
    border: 1px solid black;
}

#dark .genres button {
    background-color: #222;
    color: #777;
}

#dark .background {
    background-color: #222d33;
}

#dark .details {
    background-color: #222;
    color: snow;
    text-decoration: none;
}



#dark .login_form {
    background-color: #181717;
    box-shadow: 1px 4px 12px 2px black;
}

#dark .login_form input {
    background-color: #222;
    border: 2px solid black;
    color: white;
}

#dark .swiper_dark {
    border-bottom: 2px solid black;
}


.swiper-button-prev, .swiper-button-next {
    color: white;
}



